body{

font-family: Arial, sans-serif;
background-color:#fff6fb;
text-align:center;
padding:40px;

}

h1{

color:#d48fb0;
font-size:36px;

}

.subtitulo{

color:#7a6c7d;
margin-bottom:40px;

}

.contenedor-comparacion{

display:flex;
justify-content:center;
align-items:center;
gap:40px;
margin-bottom:50px;

}

button{

background-color:#ffd6e8;
border:none;
padding:25px;
font-size:18px;
border-radius:15px;
cursor:pointer;
width:200px;
transition:0.3s;

}

button:hover{

background-color:#ffb7d5;
transform:scale(1.05);

}

.vs{

font-size:30px;
color:#b089a5;

}

h2{

color:#c47aa6;

}

ul{

list-style:none;
padding:0;
max-width:400px;
margin:auto;

}

li{

background:#f9e6f0;
margin:8px;
padding:10px;
border-radius:10px;
font-size:18px;

}

footer{

margin-top:40px;
color:#9a8c98;
font-size:14px;

}
